.login-form{
    display:flex;
    flex-direction: column;

    &_validate-message {
        color: red;
    }

    &_row {
        margin-top: 10px;
        display:flex ;
        justify-content: space-around;
    }
}